{% extends 'base.html' %}
{% block title %}
    <h1 style="text-align: center;background:#ccc;">Approve and Disapprove Requests</h1>
{% endblock %}
{% block content %}
<style>
  h1{
    color:black;
  }
  p{
    color:black;
  }
</style>
  <div class="container mt-5">
    <h2>Purchase Requests</h2>
    <div class="list-group">
      {% for request in requests %}
        <div class="list-group-item">
          <p><strong>User:</strong> {{ request.user.username }}</p>
          <p><strong>Book:</strong> {{ request.item.name }}</p>
          <p><strong>Status:</strong> {{ request.status }}</p>
          <a href="{{ url_for('approve_purchase', request_id=request.id) }}" class="btn btn-success">Approve</a>
          <a href="{{ url_for('reject_purchase', request_id=request.id) }}" class="btn btn-danger">Reject</a>
        </div>
        <hr>
      {% endfor %}
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

